<form action="" class="mid-form" #frmArticle="ngForm" (ngSubmit)="findCli($event)">
  <div>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-title">Pacientes</h5>
      <div>
        <button class="btn" (click)="openModal(template1,1)"><span tooltip="Crear Cliente" placement="bottom"
            show-delay="500"> <i class="fa fa-user-plus iconBtn"></i></span>
        </button>
        <button class="btn" (click)="closeModal(1)"><span tooltip="Cerrar" placement="bottom" show-delay="500"> <i
              class="fa fa-times iconBtn btnClose"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="card col-md-12">
        <div>

          <input id="inFind" class="form-control" matInput (keyup)="applyFilter($event)"
            placeholder="BUSCAR POR CODIGO, NOMBRE, IDENTIFICACION" value="" #input>

          <table id="tblCli" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="identificacion">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element" loading="lazy"> {{element.identificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element" loading="lazy"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let element" loading="lazy"> {{element.tipo}} </td>
            </ng-container>

            <ng-container matColumnDef="seleccione">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <button class="btn" loading="lazy" (click)="editCli(template2,element)"><span tooltip="Editar"
                    placement="bottom" show-delay="500"> <i class="fa fa-pencil iconBtn"></i></span></button>
                <button class="btn" loading="lazy" (click)="enviarCli(template2,element)"><span tooltip="Enviar"
                    placement="bottom" show-delay="500"> <i class="fa fa-check"></i></span></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

        </div>

      </div>
    </div>

  </div>
</form>

<ng-template #template1 data-backdrop="static" data-keyboard="false" loading="lazy">
  <form action="" id="frmAddPaci" class="mid-form" #frmAddPaci="ngForm" (ngSubmit)="savePaci($event)">
    <div id="modalTest">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Agregar Paciente</h4>
      </div>
      <div class="modal-body">
        <div class="card col-md-12">

          <div class="form-group doRight">

            <label for="title">Codigo : </label>
            <input type="text" id="Id" name="Id" data-rule-minlength="2" [(ngModel)]="PacienteNew.Codigo" #Codigo="ngModel"
              required pattern="[0-9]+" readonly>

          </div>
          <div class="form-group doRight">

            <label for="title">Nombre : </label>
            <input type="text" name="namePaci" id="namePaci" data-rule-minlength="2" [(ngModel)]="PacienteNew.Nombre"
              #Nombre="ngModel" required pattern="[a-zA-Z ]+" style="width: 300px;text-transform:uppercase">
            <small class="smallRed" *ngIf="!Nombre.valid && Nombre.touched">
              El nombre del cliente es invalido ??
            </small>
          </div>

          <div class="form-group doRight">
            <label for="title">Tipo : </label>
            <select class="dropdownSelect" id="typeDocI" name="typeDocI" required [(ngModel)]="PacienteNew.TipoDocI"
              #TipoDocI="ngModel">
              <option label="--- SELECCIONE ---" values="Select"></option>
              <div *ngFor="let doc of documents">
                <option  [ngValue]="doc.descripcion" *ngIf="doc.type == 2" >                
                  <div>
                      {{doc.descripcion}} 
                  </div>                            
               </option>
              </div>
              
            </select>
            <small class="smallRed" *ngIf="!TipoDocI.valid && TipoDocI.touched">
              Debe de seleccionar un tipo de documento ??
            </small>
          </div>

          <div class="form-group doRight">

            <label for="title">Cedula/Pasaporte/RNC : </label>
            <input type="text" name="identityCli" id="identityCli" [(ngModel)]="PacienteNew.DocI"
              #DocI="ngModel" data-rule-minlength="5" required>
            <small class="smallRed" *ngIf="!DocI.valid && DocI.touched">
              EL número de identificación es invalido ??
            </small>
          </div>
          <div>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-margin-right" (click)="closeModal(1)">Cancelar</button>
        <input type="submit" #btnSend value="Guardar" class="btn btn-primary" [disabled]="frmAddPaci.invalid" [ngClass]="{
                    'hideAll': frmAddPaci.invalid
                }">
      </div>
    </div>
  </form>
</ng-template>