<header id="headerPrin">
    <div class="center">
        <!--LOGO-->
        <div id="logo">
          <img src="./assets/images/auth/FacTools4.png" class="app-logo" [ngClass]="'width: 70px;'" alt="Logotipo">
          
        </div>
        <!--MENU
        <nav id="menuPrin">
             <ul>
                 <li>
                   <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                 </li>
                 <li>
                  <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                  <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                  <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Peliculas</a>
                </li>
                <li>
                  <a [routerLink]="['/pagina-de-pruebas']" [routerLinkActive]="['active']">Pagina 2</a>
                </li>
             </ul>
        </nav>
        -->
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>

